node_modules
.vscode

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
# going to commit env file for ease of testing, the frontend env file only contains my go backend api endpoint for maintanbility
#won't do this in actual prod
#.env 
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
