#sample environment file
POSTGRES_PASSWORD=admin123
POSTGRES_USER=admin
POSTGRES_DB=politique_db
DATABASE_URL=postgres://admin:admin123@db:5432/politique_db?sslmode=disable
JWT_SECRET=politique_is_da_best_gaem
FRONTEND_URL=http://localhost:5173